.section,
.loginsection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  font-style: normal;
  font-weight: 600;
  font-size: 29.7568px;
  letter-spacing: -0.02em;
  color: #394141;
}
.description {
  font-style: normal;
  font-weight: 400px;
  font-size: 12px;
  margin-top: -28px;
  letter-spacing: -0.02em;
  color: #394141;
  margin-top: 0.5px;
}
.formDiv,
.formLogin {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 35.75px;
}

.form label {
  display: grid;
  font-style: normal;
  font-weight: 400px;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #2d3748;
}
.form label span {
  font-size: 9px;
  display: flex;
}
.form input {
  width: 252.6px;
  height: 33.87px;
  border-radius: 3.52799px;
  border: 0.705598px solid #b6cdb8;
  background-color: #f8eeeed1;
  padding-left: 4px;
}
.rem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}
.rem input,
.terms input {
  box-sizing: border-box;
  width: 15.11px;
  height: 45.11px;
  border: 0.705598px solid #d1d1d1;
  border-radius: 1.4112px;
}
.rem div,
.terms div {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: -0.02em;
  color: #394141;
  margin-top: 20px;
}

.rem span,
.terms p {
  font-style: normal;
  font-weight: 400px;
  font-size: 12.87838px;
  margin-left: 5px;
}
.rem div,
.terms p {
  font-style: normal;
  font-weight: 400px;
  font-size: 12.87838px;
  text-align: right;
  letter-spacing: -0.02em;
  color: #2d3748;
  margin-top: 10px;
}
.terms {
  letter-spacing: -0.02em;
  display: flex;
  justify-content: left;
  align-items: center;
}

.rem a,
.terms a {
  color: #1e059d;
  text-decoration: none;
}
.button {
  display: flex;
  justify-content: space-between;
}

.reference {
  font-style: normal;
  font-weight: 400px;
  font-size: 12.87838px;
  letter-spacing: -0.02em;
  color: #2d3748;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reference a {
  color: #233445;
  text-decoration: underline;
  margin-left: 0.2rem;
}
/* login */
.loginsection {
  margin-top: 100px;
}

.rem .checkbox {
  box-sizing: border-box;
  width: 12.11px;
  height: 12.11px;
  border: 0.705598px solid #a48181e5;
  border-radius: 1.4112px;
  accent-color: #858a84;
}
.formLogin {
  flex-direction: column;
  justify-content: right;
}
.link {
  font-size: 12px;
}
.mainbutton {
  margin-top: 1rem;
}
.loginButton {
  height: 33.87px;
  width: 252.6px;
  border: none;
  background: #007aff;
  border-radius: 3.52799px;
  font-size: 13px;
  color: #edf1f1;
  background: #858a84;
  cursor: pointer;
}
.register {
  color: #0c64bc;
  text-decoration: underline;
  font-size: 10px;
  margin-left: 0.2rem;
}
.loginreference {
  font-style: normal;
  font-weight: 400px;
  font-size: 10.87838px;
  letter-spacing: -0.02em;
  color: #394141;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
